@import '../../styles/media_querys';

.header {
	position: absolute;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.8) 0%,
		transparent 100%
	);
	padding: 2rem;
	width: 100%;
	@include media {
		padding: 4rem 2rem;
	}
	&__content {
		width: 100%;
		max-width: 1500px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media {
			display: grid;
			grid-template-columns: 1fr 3fr 1fr;
		}
		&__nav {
			position: fixed;
			min-height: 100vh;
			top: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.9);
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			transform: translateY(-100vh);
			transition: 0.2s;
			&.open {
				transform: translateY(0);
			}
			@include media {
				position: initial;
				min-height: initial;
				transform: none;
				background: none;
			}
			&__list {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				gap: 3rem;
				@include media {
					flex-direction: row;
					gap: 0;
				}
				&__item {
					color: var(--color-1);
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					align-items: center;
					font-weight: 500;
					font-size: 1.5rem;
					text-align: center;
					@include media {
						padding: 0 2rem;
						border-left: 1px solid var(--color-1);
					}
				}
			}
			&__options {
				margin-top: 5rem;
				@include media {
					display: none;
				}
			}
		}
		&__options {
			display: none;
			@include media {
				display: flex;
				justify-self: flex-end;
			}
		}
		&__burger {
			color: var(--color-1);
			z-index: 3;
			background: none;
			outline: none;
			border: none;
			cursor: pointer;
			@include media {
				display: none;
			}
		}
	}
}

.options {
	display: flex;
	&__link {
		display: flex;
		align-items: center;
		color: var(--color-1);
		&:last-child {
			margin-left: 1rem;
			padding-left: 1rem;
			border-left: 1px solid var(--color-1);
		}
	}
}
