@import '../../styles/media_querys';
@import '../../styles/mixins';

.products {
	&__section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(50vh, auto) 50vh;
		grid-template-areas:
			'info'
			'img';
		position: relative;
		background-color: var(--color-1);
		@include media {
			grid-template-areas: 'img info';
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 70vh;
			&:nth-child(even) {
				grid-template-areas: 'info img';
			}
		}
		&::before {
			display: none;
			@include media {
				content: '';
				display: inline-block;
				width: 2rem;
				height: 2rem;
				background-color: inherit;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: rotate(45deg) translate(-50%, -50%);
				transform-origin: left top;
				z-index: 1;
			}
		}
		&:nth-child(1) &__img {
			background-image: url('/img/umbrellas.jpg');
		}
		&:nth-child(2) &__img {
			background-image: url('/img/relax.jpg');
		}
		&:nth-child(3) &__img {
			background-image: url('/img/bag.jpg');
		}
		&:nth-child(4) &__img {
			background-image: url('/img/sleep.jpg');
		}
		&__img {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			grid-area: img;
			&__container {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgba(0, 0, 0, 0.5);
				width: 100%;
				height: 100%;
				@include media {
					opacity: 0;
					transition: 0.2s;
					&:hover {
						opacity: 1;
					}
				}
				&__button {
					@include button;
				}
			}
		}
		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			grid-area: info;
			padding: 3rem 2rem;
			&__img {
				width: 10rem;
			}
			&__title {
				font-size: 2.5rem;
				padding-bottom: 0.5em;
				margin-bottom: 0.5em;
				font-weight: 500;
				position: relative;
				&::before {
					content: '';
					display: inline-block;
					width: 2.5rem;
					height: 1px;
					background: #000;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&__text {
				max-width: 300px;
			}
			&__link {
				display: flex;
				align-items: center;
				margin-top: 2rem;
				gap: 0.5rem;
				&:hover {
					text-decoration: underline;
					color: rgb(25, 148, 0);
				}
			}
		}
	}
}
