@mixin section-title {
	&__text {
		color: var(--color-2);
		text-transform: uppercase;
		text-align: center;
		margin: 0;
	}
	&__title {
		margin: 0;
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: 300;
		text-align: center;
	}
}
